# Flickr30k dataset analysation

### 0. Library and modules imports

In [63]:
import datacleaner
import pandas as pd

1. Load the dataset (we will add a proper download link once the dataset ready)

In [64]:
df = pd.read_csv('flickr/results.csv', sep = '|')
df.columns = ['image_name', 'comment_number', 'comment']

In [65]:
df.head()

,image_name,comment_number,comment
0,1000092795.jpg,0,Two young guys with shaggy hair look at their...
1,1000092795.jpg,1,"Two young , White males are outside near many..."
2,1000092795.jpg,2,Two men in green shirts are standing in a yard .
3,1000092795.jpg,3,A man in a blue shirt standing in a garden .
4,1000092795.jpg,4,Two friends enjoy time spent together .

### 2. Dataset analysation

In [66]:
number_of_images = len(df.image_name.unique())
col_types = df.dtypes
print('The dataset contains {} images'.format(number_of_images))
print('The column types are: ') 
print(col_types)

The dataset contains 31783 images
The column types are:
image_name        object
comment_number    object
comment           object
dtype: object

In [67]:
df.image_name.value_counts().unique()

array([5])

Every image contains the same amount of captions and thus, should be clean in this area. It is important to get rid of the non-alphanumeric characters.

In [68]:
res = 0
for index,elem in df.iterrows():
    if isinstance(elem.comment, str):  
        continue
    else:
        res = index

In [69]:
df.iloc[res]

image_name                            2199200615.jpg
comment_number     4   A dog runs across the grass .
comment                                          NaN
Name: 19999, dtype: object

There seems to be a mixup for this element. We suggest eliminating this picture from the dataset.

A hidden float object is in the dataset. We will take it out

In [70]:
df.drop(df.loc[df.image_name == df.image_name.iloc[res]].index, inplace = True)

In [74]:
df_cleaned = df.copy()
df_cleaned['cleaned_captions'] = df_cleaned.comment.apply(lambda x: datacleaner.remove_non_alphanumeric(x))
df_cleaned['cleaned_captions'] = df_cleaned['cleaned_captions'].apply(lambda x: datacleaner.lower_caption(x))
df_cleaned.head()

,image_name,comment_number,comment,cleaned_captions
0,1000092795.jpg,0,Two young guys with shaggy hair look at their...,two young guys with shaggy hair look at their...
1,1000092795.jpg,1,"Two young , White males are outside near many...",two young white males are outside near many ...
2,1000092795.jpg,2,Two men in green shirts are standing in a yard .,two men in green shirts are standing in a yard
3,1000092795.jpg,3,A man in a blue shirt standing in a garden .,a man in a blue shirt standing in a garden
4,1000092795.jpg,4,Two friends enjoy time spent together .,two friends enjoy time spent together